.signForm {
  margin-top: 20px;
  min-height: 30px;
}

.signInput {
  background-color: #b1e5f1;
  margin-right: 10px;
  padding-left: 5px;
}

.signBtn {
  background-color: #0e93bd;
  color: whitesmoke;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}