.chatsList {
    list-style-type: none;
}
.listItem:hover {
    color: black;
}
main {
    background-color: #26c6da;
}
.eachChat {
    text-decoration: none;
}
.eachChat:hover {
    color: black!important;
}