.chatsList {
    list-style-type: none;
    & li:hover {
        color: red;
    }
}
.listItem:hover {
    color: black;
}
main {
    background-color: #26c6da;
}
.eachChat {
    text-decoration: none;
}
.eachChat:hover {
    color: black!important;
}
.chatsList_item {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}
.addChat {
    border-radius: 10px;
    background-color: rgb(81, 123, 212);
    color: whitesmoke;
    margin-left: 10px;
}