.App {
  text-align: center;
  &_header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: ghostwhite;
  }
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.clickBtn {
  color:aliceblue;
  background-color: rgb(30, 145, 145);
  font-size: medium;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.red-background {
  background: red;
}

.default-background {
  background: white;
  color: black;
}